*{
    box-sizing: border-box;
}
div.flex-1{
    background-color: black;
}


.add-section {
    padding: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

form.credentials-form{
    background-color: #121212;
    padding: 3%;
    width: 35%;
    border-radius: 10px;
    border: 2px solid #2b2b2b;
}
div.image{
    width: 35%;
}

div.image img{
    width: 100%;
}
.section {
    margin-bottom: 2rem;
    background-color: #121212;
    padding: 1.5rem;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #2b2b2b;
}
.add-section h2 {
    margin-top: 0;
    color: #6c63ff;
}
.section h2 {
    margin-top: 0;
    color: #6c63ff;
}

/* Credentials Form Styles */
.credentials-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.credentials-form input {
    padding: 0.5rem;
    border: 1px solid #2b2b2b;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
}
div.custom-field input {
    margin: 1%;
    width: 100%;
}
.credentials-form button {
    display: block;
    margin: auto;
    padding: 2%;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #eee;
    width: 100%;
    text-transform: uppercase;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    color: #eee;
    background: #6c63ff;
    cursor: pointer;
}

.credentials-form button:hover {
    background-color: #5a52e0;
}

.remove-custom-field-btn{
    margin: 2% auto;
    margin-bottom: 3%;
    width: 100%;
    background-color: #a75b4d !important;
}
@media(max-width:1200px){
    div.image{
        display: none;
    }
    form.credentials-form{
        width: 55%;
    }
}
@media(max-width:900px){
    form.credentials-form{
        width: 80%;
    }
}
@media(max-width:768px){
    section.add-section{
        margin: 30% auto;
    }
    form.credentials-form{
        width: 95%;
        padding: 10%;
    }
}




