{% extends 'base_dashboard.html' %}

{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'CSS/edit.css' %}">
{% endblock %}


{% block main %}

<div class="flex-1 p-6 overflow-y-auto">
    <div class="flex justify-between items-center mb-6">
        <div class="flex items-center">
            <button class="md:hidden text-xl" onclick="toggleMenu()">
                <i class="fas fa-bars">
                </i>
            </button>
            <h1 class="text-3xl font-bold ml-4 md:ml-0">
                Your Data
            </h1>
        </div>
        <div class="flex items-center">
            <i class="fas fa-bell text-xl mr-4">
            </i>
            <a href="/Dashboard/{{user}}">
                {% if image %}
                <img src="/{{image}}" style="border: 2px solid #eee;" alt="User Image" class="w-10 h-10 rounded-full"
                    height="40" width="40">
                {% else %}
                <img style="border: 2px solid #eee;"
                    src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                    alt="User Image" class="w-10 h-10 rounded-full" height="40" width="40">
                {% endif %}
            </a>
        </div>
    </div>
    {% for i in credentials %}
        <div class="block">
            <label for="">Domain : </label>
            <input type="text" value="{{i.Domain}}" readonly>
            <label for="">Username : </label>
            <input type="text" value="{{i.Username}}" readonly>
            <label for="">Password : </label>
            <input type="text" value="{{Password}}" readonly>
            {% if paired_data %}
            {% for name, value in paired_data %}
                <label for="">{{ name }} : </label>
                <input type="text" value="{{ value }}" readonly>
            {% endfor %}
            {% endif %}
            <form>
                <input type="text" name="delete" value="True" style="display: none;">
                <button class="btn" onclick="return confirmdelete()">DELETE</button>
            </form>
        </div>
        <p>*You Can Not Update The Information, But You Can Delete and Save Again New Data.</p>
    {% endfor %}


</div>
<script>
    function confirmdelete(){
        return confirm("Are You Sure ? Confirm to Delete Your Account.")
    }
</script>
{% endblock %}